apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-ingress
spec:
  project: base
  source:
    repoURL: https://github.com/jyje/cluster
    targetRevision: main
    path: helm/istio-gateway-1.28.3
  destination:
    server: https://kubernetes.default.svc
    namespace: istio-ingress
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated: {}
